<%= form_for([@dish,@comment]) do |form| %>

  

  <div class="field">
    <%= form.text_area :body, id: :comment_body ,class:"form-control input-lg", type:"text"%>
  </div>

  <div class="actions">
      <%= form.submit "submit",type:"submit",class:"btn btn-lg btn-template-primary"%>
    </div>
<% end %>
