
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);
#mask {
    background: url(../../Content/images/fancybox_overlay.png) repeat;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.cuadro_face {
    width: 40px;
    height: 24px;
    border-right: 1px solid #233658;
    /*background-image: url(/Content/images/facebook_desktop.png);*/
    float: left;
}

.cuadro_twitter {
    width: 40px;
    height: 24px;
    border-right: 1px solid #1B75BB;
    /*background-image: url(/Content/images/twitter_desktop.png);*/
    float: left;
}

.cuadro_google {
    width: 40px;
    height: 24px;
    border-right: 1px solid #8E0F1B;
    /*background-image: url(/Content/images/google_desktop.png);*/
    float: left;
}

.cuadro_outlook {
    width: 40px;
    height: 24px;
    border-right: 1px solid #1B75BB;
    /*background-image: url(/Content/images/outlook_desktop.png);*/
    float: left;
}

ul.oauth-login-links LI A {
    border: 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 0 5px;
    width: 200px;
}

#contenido .tex_blanco p {
    color: white;
    padding: 0 4% 0 0;
    margin: 4px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/*ul.oauth-login-links LI A:hover {
    border-color: #FFF;
}
*/

#facebook {
    width: 45.5%;
    height: 26px;
    background: #2E4B84;
    margin: 0 3% 2% 0;
    border-radius: 5px;
    border: solid 1px #2E4983;
    float: left;
}

    #facebook:hover {
        background: #5872A0;
    }


#google {
    width: 45.5%;
    height: 26px;
    margin: 0 3% 1% 0;
    border-radius: 5px;
    border: solid 1px #8E0F1B;
    background: red;
    float: left;
}

    #google:hover {
        background: #CE1922;
    }


#outlook {
    width: 45.5%;
    height: 26px;
    background: #E6E7E8;
    margin: 0 3% 1% 0;
    border-radius: 5px;
    border: solid 1px #1B75BB;
    float: left;
}

    #outlook:hover {
        background: #D1D2D4;
    }

#twitter {
    width: 45.5%;
    height: 26px;
    background: #347FB7;
    margin: 0 3% 2% 0;
    border-radius: 5px;
    border: solid 1px #1B75BB;
    float: left;
}

    #twitter:hover {
        background: #51C4F1;
    }


.image_login img {
    width: 500px;
}

ul.oauth-login-links {
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

li.oauth-login-links {
    clear: both;
    line-height: 1.5em;
    margin: 0 0 .25em;
}

.image_login {
    display: block;
    margin-left: 10px;
}

.alerta {
    display: block;
    float: left;
    height: 25px;
    margin: 0 5px 0 0;
    width: 20px;
}

.enlaceEstandar {
    color: #1A86C4;
    text-decoration: underline;
}



/*body {
    background: url(../../Content/images/fondoCielo.jpg) repeat-x #FFF;
    margin: 0;
}
*/
h1, h2 {
    font-family:  Arial, Helvetica;
}

header {
    display: block;
    height: auto;
    margin: 20px 0 0 0;
}

header h1 {
        color: #FFF;
        float: left;
        font-size: 30px;
        font-weight: normal;
        padding: 0;
    }

#contenedor {
    height: auto;
    margin: auto;
    min-width: 260px;
    width: 80%;
}

.logo {
    float: right;
    width: 240px;
}

.light_bg {
    background: #EDF3F5;
}

.dark_bg {
    background: #CCDAE2;
}

#contenido {
    background: #FFF;
    float: left;
    padding: 20px 0 30px 0;
    width: 100%;
}

    #contenido h1 {
        color: #005179;
        font-family: 'brandico',Arial, Helvetica;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 0;
        margin: 0 0 10px 10px;
    }

    #contenido p.subtitulo {
        color: #515559;
        font-family: 'brandico' Arial, Helvetica;
        margin: 0 10px 10px 10px;
    }

    #contenido p {
        font-family: 'brandico', Arial, Helvetica;
        font-family: Arial, Helvetica, sans-serif;
    }

/*MIGA */

#miga {
    float: left;
    margin: 5px 0 0 0;
    width: 100%;
}

    #miga ul {
        margin: 0;
        padding: 0;
    }

        #miga ul li {
            float: left;
            list-style-type: none;
            margin: 0;
            padding: 0 0 10px 10px;
            width: 32%;
        }

        #miga ul a {
            text-decoration: none;
        }

        #miga ul li h3 {
            color: #005179;
            font-family: 'brandico', Arial, Helvetica;
            font-weight: bolder;
            margin: 10px 0 0 0;
            text-align: center;
        }

        #miga ul li p {
            margin: 0 0 20px 0;
            text-align: center;
            font-size: 13px;
            color: #0086C3;
        }

.bg {
    background: url(../../Content/images/linea.png) no-repeat bottom;
}

.bgoff {
    background: url(../../Content/images/lineaoff.png) no-repeat bottom;
}

/*MIGA*/


.pag_segura {
    float: left;
    margin: 10px 0 10px 10px;
    width: 99%;
}

#campo_form {
    float: left;
    margin: 0 0 0 10px;
    width: 99%;
}

.marcoformulario {
    background: #FBFCFD;
    border: 1px solid;
    float: right;
    margin: 0 20px 20px 0;
    width: 45%;
}

    .marcoformulario h2 {
        color: #005179;
        font-family: 'MovistarHeadlineBold', Arial, Helvetica;
        font-size: 20px;
        margin-left: 10px;
    }

.formulario {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #FBFCFD;
    border: 1px solid;
    border-radius: 8px;
    float: left;
    margin: 0 0 20px 10px;
    padding-bottom: 30px;
    width: 48%;
}

    .formulario h2 {
        color: #005179;
        font-family: 'brandico', Arial, Helvetica;
        font-size: 20px;
        margin-left: 3px;
    }

label {
    color: #515559;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 10px;
}

input {
    border: #ccc 1px solid;
    color: #333;
}

select {
    border: #ccc 1px solid;
}

.formulario input, .formulario select {
    border:1px solid;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 6px;
    padding: 4px 0 4px 0;
    width: 100%;
}

.divTR {
    float: left;
    margin: 0 0 10px 10px;
    padding-bottom: 10px;
    width: 100%;
}
.divTR p, .divTR a {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px 0 0 0;
    color: #515559;
}
    .divTR a, #acepta_terminos p a {
        color: #3A80F3;
        text-decoration: underline;
    }
    #CaptchaInputText{ width: 45%;padding: 4px 0 4px 0;}
    .divCaptchaRecuperar > #CaptchaInputText {
        width: 200px !important;
    }
.campos {
    float: left;
    margin-right: 12px;
    width: 44%;
}

.campos_cc {
    float: left;
    width: 49%;
}

.campo_solo {
    float: left;
    width: 40%;
}

.campos label {
    display: block;
    clear: both;
}

/*Estilos cambio contraseña*/

.campos2 {
    float: left;
    margin: 10px 20px 6px 105px;
    width: 180px;
}

    .campos2 label {
        margin: 0;
        padding: 0;
    }

.cont_form {
    display: block;
    float: left;
    width: 59%;
}

.fila {
    float: left;
    height: auto;
    width: 100%;
}

.twit {
    display: block;
    float: right;
    height: 25px;
    margin: 5px 0 0 0;
    width: 25px;
}

.campo_peq {
    width: 80% !important;
}

.varios_campos {
    float: left;
    margin: 0 0 25px 0;
    width: 250px;
}

    .varios_campos label {
        display: block;
        width: 100%;
    }

    .varios_campos select {
        display: block;
        float: left;
        margin-right: 5px;
        width: auto;
    }

.campo_largo {
    float: left;
    width: 65%;
}

    .campo_largo label {
        width: 100%;
    }



#DescripcionPassword {
    color: #333;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 100%;
}

.subtitular_info {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 20px;
    padding: 5px 5px 10px 0;
}

    .subtitular_info a {
        color: #1A86C4;
        text-decoration: underline;
    }

.box {
    border: none !important;
    float: left !important;
    width: auto !important;
}

div#form_Tip {
    background: #64C3D7;
    border: 1px solid ;
    color: #005177;
    display: none;
    font: bold 10px Arial, Helvetica, sans-serif;
    padding: 3px;
    position: absolute;
    text-align: left;
    z-index: 1000;
}

#cont_bot a {
    text-decoration: none;
}

#cont_bot {
    display: block;
    float: left;
    width: 98%;
}

.bot_azul {
    margin-right: 40px;
    color: #FFF;
    display: block;
    float: left;
    font-family: 'brandico', Arial, Helvetica;
    font-size: 12px;
    min-width: 150px;
    width: auto;
}

    .bot_azul .btnleft {
        background: url(../../Content/images/btnAzul_left.png) no-repeat;
        display: block;
        float: left;
        height: 44px;
        width: 13px;
    }

    .bot_azul .btnrigth {
        background: url(../../Content/images/btnAzul_rigth.png) no-repeat;
        display: block;
        float: right;
        height: 44px;
        width: 13px;
    }

    .bot_azul .btncenter {
        background: url(../../Content/images/btnAzul_center.png) repeat-x;
        cursor: pointer;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        height: 44px;
        padding: 8px 3px 0 3px;
        width: auto;
    }

#titulo_pdcto {
    display: block;
    width: 100%;
}

    #titulo_pdcto span {
        float: left;
        margin: 6px 10px 0 10px;
    }

.cont_tip {
    float: left;
    height: 39px;
    width: 20px;
}

.bgazul {
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border: 1px solid #DAEAEA;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    float: left;
    padding: 7px 0;
    width: 100%;
}

    .bgazul h2 {
        color: #005880;
        float: left;
        font-size: 18px;
        margin: 0;
        padding-top: 8px;
    }

#area_product {
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #FBFBFB;
    border: #EDF3F5 1px solid;
    border-radius: 10px;
    float: left;
    margin: 20px 0;
    width: 98%;
}

    #area_product ul {
        display: block;
        float: left;
        margin: 2px 0;
        padding: 10px 0;
        width: 100%;
    }

        #area_product ul li {
            float: left;
            list-style-type: none;
            margin-left: 10px;
            width: 48%;
        }

            #area_product ul li h3, h4 {
                font-family: Arial, Helvetica, sans-serif;
                margin: 0 0 0 20px;
            }

            #area_product ul li h4 {
                color: #666;
                font-size: 14px;
                margin-bottom: 10px;
            }

            #area_product ul li h3 {
                color: #005880;
            }

#cont_switch {
    height: auto;
    width: 100%;
}

    #cont_switch img {
        float: left;
        margin: 10px;
    }

    #cont_switch p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin: 10px;
    }

.dark {
    background-color: #EDF3F5;
}

#cont_camp {
    background: #F5F5F5;
    border-top: #CCC 1px solid;
    display: block;
    float: left;
    margin: 15px 0 0 10px;
    width: 99%;
}

    #cont_camp p {
        font-size: 11px;
        margin-top: 3px;
    }

    #cont_camp input {
        margin-left: 10px;
    }



/*VALIDATION FORM*/

.informa_azul {
    color: #005177 !important;
    font-family: "MovistarTextRegular", Arial, Helvetica;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    width: 60%;
    margin: 0 0 20px 10px;
}

.pequenoazul {
    font-size: 14px;
    font-weight: normal;
}

input.error, .input-validation-error {
    background-color: #F6F1CE;
    border: 1px solid #9F9E97;
}

.error, .field-validation-error {
    color: #FE0000;
    font-size: 12px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

a.btn_activar:link, a.btn_activar:visited, a.btn_activar:active {
    background-image: url(../../Content/images/switch_buttons.png);
    display: block;
    float: left;
    height: 30px;
    width: 63px;
}

a.btn_activar:hover {
    background-position: 0 -31px;
}

.cont_bot {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    width: auto;
}

.bot_azul .peq_btnleft {
    background: url(../../Content/images/bot_peq_left.png) no-repeat;
    display: block;
    float: left;
    height: 31px;
    width: 10px;
}

.bot_azul .peq_btnrigth {
    background: url(../../Content/images/bot_peq_right.png) no-repeat;
    display: block;
    float: left;
    height: 31px;
    width: 10px;
}

.bot_azul .peq_btncenter {
    background: url(../../Content/images/bot_peq_center.png) repeat-x;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 31px;
    padding: 4px 3px 0 3px;
    width: auto;
}

footer {
    background: #00496D;
    bottom: 0;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 0;
    position: relative;
    width: 100%;
}

.logo_foot {
    float: right;
    padding: 10px 10px 10px 0;
}

#banner {
    background: #09C;
    display: block;
    height: auto;
    width: 98%;
    clear: both;
}

    #banner img {
        height: auto;
        width: 100%;
    }

#cont_modal {
    display: none;
    height: 100%;
    max-width: 350px;
    overflow: hidden !important;
}

.resaltado_otro_momento {
    width: 265px;
    height: auto;
    color: #005C84;
    font-family: 'MovistarTextRegular';
    margin: 10px 20px 10px 0;
    padding: 5px 0 15px 5px;
    font-size: 14px;
    font-weight: normal;
    background-repeat: no-repeat;
    float: right;
}

    .resaltado_otro_momento span {
        float: left;
        margin: 5px 7px 0 0;
    }

    .resaltado_otro_momento img {
        float: left;
        margin: 2px 7px 0 14px;
        width: 25px;
        height: 25px;
    }

    .resaltado_otro_momento a {
        color: #005C84;
        font-weight: bold;
        font-family: 'MovistarTextRegular';
        font-size: 14px;
        text-decoration: underline;
    }

/*  ESTILOS PAGINA RECUPERACIÓN DE CONTRASEÑA*/

#area_bot {
    display: block;
    float: left;
    height: auto;
    margin: 10px 0 20px 0;
    padding: 0;
    width: 100%;
}

.area_bot {
    display: block;
    float: left;
    height: auto;
    margin: 10px 0 20px 0;
    padding: 0;
    width: 100%;
}

.area_bot_reg {
    display: block;
    float: left;
    height: auto;
    padding: 0;
    width: 98%;
}

.main_bot .boton_volver {
    display: block;
    float: left;
    margin: 4px 0 0 0;
    padding-left: 10px;
}


.main_bot {
    -moz-border-radius: 8px;
    background: -moz-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13446b), color-stop(50%, #48a5bf), color-stop(51%, #3183A0), color-stop(100%, #50c5d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* IE10+ */
    /* W3C */
    background: linear-gradient(to bottom, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* W3C */
    border-radius: 8px;
    cursor: pointer;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13446b', endColorstr='#50c5d8', GradientType=0); /* IE6-9 */
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px 0 0;
    padding: 6px 6px 6px 0;
    width: auto;
}

    .main_bot a {
        color: #FFF;
        float: left;
        padding: 3px 5px 0 10px;
        text-decoration: none;
    }

    .main_bot button {
        background: none;
        border: none;
        color: #FFF;
        cursor: pointer;
        float: left;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        padding: 3px 5px 0 10px;
        text-decoration: none;
    }


    .main_bot span {
        display: block;
        float: right;
        margin: 4px 0 0 0;
        padding-left: 10px;
    }

        .main_bot span.izquierda {
            display: block;
            float: left;
            margin: 0;
            padding-left: 10px;
        }

button {
    cursor: pointer;
}

.area_1 {
    color: #666;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 10px 0 20px 20px;
    padding: 0;
    width: 100%;
}

    .area_1 p {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .area_1 h2 {
        font-size: 18px;
        font-weight: normal;
        color: #005B84;
        font-family: 'MovistarHeadlineBold', Arial, Helvetica;
        margin: 0 0 10px 10px;
        padding: 5px 0 0 0;
    }

    .area_1 label {
        float: left;
        font-size: 12px;
        margin-right: 4px;
    }

    .area_1 a {
        color: #1A86C4;
    }

.bg_adv {
    background: url(../../Content/images/adv.png) top no-repeat #005B83;
    display: block;
    float: left;
    height: 77px;
    margin: 0 10px 0 0;
    width: 37px;
}

.llenar {
    float: left;
    margin-right: 20px;
    width: auto;
}

    .llenar input {

    }

.formulario input {
    border: # 1px solid;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 6px;
    padding: 4px 0 4px 4px;
    width: 100%;
}

#redes {
    float: left;
    margin: 0 0 15px 10px;
    width: 98%;
}

    #redes h3 {
        color: #515559;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        max-width: 90%;
        font-weight: bold;
        margin: 17px 0 0 0;
    }

.ayuda_twit {
    background: #F2F2F2;
    color: #005880;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: auto;
    margin: 16px 0 0 0;
    padding: 6px;
    width: 190px;
}

.cont_redes {
    float: left;
    margin-top: 20px;
    width: 100%;
}

.redes_gr {
    float: left;
    width: 25%;
}

.redsocial {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, #cee5ea 0, #fbfdfd 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cee5ea), color-stop(99%, #fbfdfd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cee5ea 0, #fbfdfd 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cee5ea 0, #fbfdfd 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cee5ea 0, #fbfdfd 99%); /* IE10+ */
    /* W3C */
    background: linear-gradient(to bottom, #cee5ea 0, #fbfdfd 99%); /* W3C */
    behavior: url(../../Content/js/border-radius.htc);
    border-bottom: #CCC 1px solid;
    border-radius: 5px;
    border-right: #CCC 1px solid;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cee5ea', endColorstr='#fbfdfd', GradientType=0); /* IE6-9 */
    float: left;
    height: 34px;
    margin: 5px 6px 0 0;
    width: 95%;
}

    .redsocial img {
        margin: auto;
    }

    .redsocial p {
        float: right;
        font-size: 14px;
        margin: 0 0 0 6px;
        padding: 0;
    }


.informa {
    background: #F2F2F2;
    display: block;
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}

    .informa span {
        float: left;
        margin: 10px 6px 0 6px;
        padding: 0;
    }

    .informa p {
        color: #005880;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0 5px 0 10px;
    }

.box, .check-box {
    border: none !important;
    float: left !important;
    margin-right: 8px;
    width: auto !important;
}

#campo_info {
    float: left;
    margin: 10px 0 10px 20px;
    width: 100%;
}

#cont_info_correo {
    height: auto;
    width: 100%;
}



@media screen and (max-width: 990px) {
    #miga ul li {
        margin: 0;
        padding: 0;
    }

    #cont_camp {
        width: 90%;
    }

    .espacio1 {
        width: 100%;
    }

    .espacio2 {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    #miga ul li p {
        display: none;
    }

    #miga ul li h3 {
        font-size: 16px;
        margin-bottom: 25px;
    }

    #area_product ul li {
        margin-bottom: 20px;
        width: 90%;
    }

    #cont_switch {
        border: none;
    }

    .bot_azul {
        margin-right: 10px;
    }

    #area_product ul li h4 {
        font-size: 14px;
    }

    #area_product {
        width: 95%;
    }

    #fila_3 {
        display: block;
    }

    .redes_gr {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    label {
        margin-top: 5px;
    }

    .campos {
        float: none;
        width: 90%;
    }

    .ayuda_twit {
        width: 88%;
    }

    header {
        margin: 8px 0 0 0;
        height: auto;
    }

    .logo {
        width: auto;
    }

        .logo img {
            float: right;
            width: 100%;
        }

    header h1 {
        font-size: 20px;
        margin: 0 30px 0 0;
        padding: 0;
    }

    .cont_bot {
        float: none;
    }

    #redes {
        width: 95%;
    }

        #redes h3 {
            font-size: 14px;
            width: 100%;
            max-width: 100%;
        }
}

@media screen and (max-width: 480px) {
    #CaptchaInputText {width:92%}
    .campos_cc input {
        width: 70%;
    }

    .campo_solo input {
        width: 70%;
    }

    #area_1 label {
        width: 70%;
    }

    #area_1 input {
        width: 70%;
    }

    .main_bot span {
        float: right;
        padding-right: 10px;
    }

    .area_1 label {
        width: 70%;
    }

    .area_1 input {
        width: 70%;
    }


    header h1 {
        float: none;
        margin: 0 80px 0 0;
        padding: 0;
    }

    #campo_info {
        margin-bottom: 20px;
    }

    .main_bot {
        margin-bottom: 15px;
        margin-right: 15px;
        text-align: center;
        width: 90%;
    }

        .main_bot button {
            float: none;
        }

        .main_bot .boton_volver {
            float: right;
        }

        .main_bot a {
            float: none;
            text-align: center;
        }

    .redsocial {
        margin-right: 6px;
        width: 115px;
    }

    .cont_redes {
        margin-top: 8px;
    }
}

/*Preloader styles*/

.modal {
    background: #ffffff url('../../Content/images/preloader.gif') 50% 50% no-repeat;
    background: rgba(255, 255, 255, .8) url('../../Content/images/preloader.gif') 50% 50% no-repeat;
    display: inline;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.margen_contenido {
    float: left;
    margin: 0 10px;
    width: 97%;
}

#top_contenido {
    border-bottom: #CCC 1px solid;
    display: block;
    float: left;
    margin: 0 0 25px 0;
    padding: 0 0 10px 0;
    width: 100%;
}

/* TÃTULOS */

#contenido #top_contenido h1 {
    color: #005179;
    font-family: 'MovistarHeadlineBold', Arial, Helvetica;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
}

/* TÃTULOS */

#top_contenido p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 5px 0 0 15px;
}

#top_contenido h2 {
    color: #005B83;
    font-family: 'MovistarHeadlineRegular', Arial, Helvetica;
    margin: 0;
}

.area_boton_peqno {
    float: left;
    margin: 0 10px 10px 0;
    width: 98%;
}

.boton {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: -moz-linear-gradient(top, #005880 0, #4dc6d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005880), color-stop(100%, #4dc6d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #005880 0, #4dc6d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #005880 0, #4dc6d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #005880 0, #4dc6d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #005880 0, #4dc6d9 100%); /* W3C */
    border-radius: 5px;
    color: #FFF;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005880', endColorstr='#4dc6d9', GradientType=0); /* IE6-9 */
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 22px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    width: 105px;
}

    .boton a {
        color: #FFF;
    }

.foto_red {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
}


.g-signin {
    display: none;
}

/*ESTILOS NUEVOS*/

.agrega {
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    background: #F4F6F5;
    border: 1px solid #DAEAEA;
    border-radius: 8px 8px 8px 8px;
    float: left;
    padding: 10px 10px 0 10px;
    width: 97%;
}

    .agrega header {
        border-bottom: 1px solid #DBE9EC;
        float: left;
        height: auto;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

        .agrega header h1, .agrega header p {
            float: left;
            margin: 0 0 10px 0;
            padding: 0 !important;
            width: auto;
        }

.caja_contenedora {
    display: none;
    float: left;
    padding: 18px 10px 10px 0;
    width: 100%;
}

.caja_contenedora2 {
    float: left;
    padding: 18px 10px 10px 0;
    width: 100%;
}

.agrega h1 {
    font-size: 21px !important;
    margin-left: 0 !important;
}

.agrega p {
    font-family: Arial, Helvetica, sans-serif !important;
}

.TRagregar {
    float: left;
    width: 50%;
}

    .TRagregar label {
        font-size: 13px !important;
        font-weight: bold;
    }

.cont_flotantes {
    float: left;
    width: 100%;
}

.informa_ag {
    float: left;
    margin: 10px 0;
    width: 100%;
}

    .informa_ag span {
        float: left;
        margin-right: 10px;
    }

.TRagregar p {
    float: left;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.boton2 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005880), color-stop(100%, #4dc6d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #005880 0, #4dc6d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #005880 0, #4dc6d9 100%); /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    background: -ms-linear-gradient(top, #005880 0, #4dc6d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #005880 0, #4dc6d9 100%); /* W3C */
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005880', endColorstr='#4dc6d9', GradientType=0); /* IE6-9 */
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 22px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    width: 105px;
}

.input_margen {
    margin-top: 6px;
}

.enlace {
    color: #0086C4;
    font-weight: bold;
    text-decoration: none;
}

    .enlace:hover {
        text-decoration: underline;
    }

.cont_factura {
    height: auto;
    width: 410px;
}

.pequeno {
    max-width: 100px !important;
}


@media screen and (max-width: 1200px) {
    .campos2 {
        margin: 20px 0 0 0;
    }

    .campos_cc {
        width: 95%;
    }

    .cont_form {
        width: 40%;
    }

    .area_bot_reg {
        width: 99%;
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .llenar {
        margin-top: 20px;
        width: 100%;
    }

    .campo_solo {
        margin-top: 10px;
        width: 100%;
    }

    .cont_form {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .campos {
        float: none;
        width: 90%;
    }

    .passwSt {
        float: left;
    }

    header h1 {
        margin-right: 80px;
    }
}

@media screen and (max-width: 700px) {
    header h1 {
        font-size: 170%;
    }

    #miga ul li p {
        display: none;
    }

    #miga ul li h3 {
        font-size: 16px;
        margin-bottom: 25px;
    }

    #area_product ul li {
        margin-bottom: 20px;
        width: 90%;
    }

    #cont_switch {
        border: none;
    }

    .bot_azul {
        margin-right: 10px;
    }

    #area_product ul li h4 {
        font-size: 14px;
    }

    #area_product {
        width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .formulario {
        width: 90%;
    }
}

@media screen and (max-width: 960px) {
    #miga ul li {
        margin: 0;
        padding: 0;
    }

    #cont_camp {
        width: 90%;
    }
}

.forceLowerCase {
    text-transform: lowercase;
}

@charset "utf-8";

/* CSS Document */

/*.modal {
    display: inline;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../../Content/images/preloader.gif')
                50% 50%
                no-repeat;
}*/

#encabezado .menu_top {
    float: right;
    width: auto;
}

#cont_redes_top {
    float: right;
}

    #cont_redes_top h5 {
        color: #8F8F8F;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        text-align: right;
    }

#info_principal {
    float: left;
    margin-top: 20px;
    width: 100%;
}

#banner_wrapper {
    float: right;
}

#perfil {
    float: left;
    width: 50%;
}

    #perfil h3 {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #perfil p {
        margin: 0;
        padding: 0;
    }

/*
.area_1{
	background:#F7FAFB;
	border-bottom:#EEF1F6 1px solid;
	color:#666;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	height:auto;
	margin:10px 0 20px 0;
	padding:0 0 20px 0;
	width:100%;
}
    */

.area_1 header {
    background-color: #ECF2F4;
    display: block;
    float: left;
    height: auto;
    margin: 0 0 10px 0;
    width: 100%;
}

.izq {
    float: left;
}

.area_1 h3 {
    float: left;
    margin: 5px 0 0 20px;
}

.area_1 .info1 {
    display: block;
    float: left;
    height: auto;
    padding: 0 0 0 10px;
    width: 98%;
}

.info1 p {
    display: block;
    font-size: 14px;
    margin: 5px 0 5px 10px;
}

.info1 h3 {
    color: #666;
    float: left;
    margin: 0 0 20px 0;
    width: 30%;
}

.line {
    border-bottom: #CCC 1px solid;
}

.azul {
    color: #005B84;
}

#caja_up .info2 {
    display: block;
    float: left;
    width: 100%;
}

.area_1 .info2 p {
    margin: 0 0 0 10px;
    padding: 0;
}

.caja_top ul {
    margin: 10px 0 0 10px;
    padding: 0;
    width: auto;
}

.caja_top li {
    font-size: 12px;
    height: 15px;
    list-style-type: none;
    padding: 5px 0;
}

.caja_top ul li p {
    float: left;
}

.caja_top ul li img {
    float: right;
    margin: 0 10px;
}

.caja_top {
    margin-bottom: 10px;
}

    .caja_top span {
        float: left;
        margin: 0 10px;
    }

    .caja_top a {
        color: #1A86C4;
        font-size: 12px;
    }

.oscuro {
    color: #333;
}

.oscuro2 {
    color: #333;
    font-size: 14px;
}

.azul_gr {
    color: #005B84;
    font-size: 24px;
}

.azul_gr2 {
    color: #005B84;
    font-size: 18px;
}

.alto {
    background-color: #ECF2F4;
    display: block;
    float: left;
    height: 20px;
    margin: 0 0 20px 0;
    width: 100%;
}

.area_1 .info2 .caja_bot h5 {
    margin: 5px 0 0 10px;
    padding: 0;
}

.caja_bot2 {
    display: block;
    float: left;
    height: auto;
    margin: 75px 0 0 0;
    width: 100%;
}

.caja_bot a {
    color: #FFF;
    font-size: 12px;
    list-style-type: none;
    padding-top: 5px;
    text-decoration: none;
}

.bot_completo {
    background: url(../../Content/images/bot_completo.png) no-repeat;
    color: #FFF;
    float: left;
    height: 28px;
    margin: 0 0 0 6px;
    padding: 4px 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 105px;
}

.bot_completo2_tienda {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13446b), color-stop(50%, #48a5bf), color-stop(51%, #3183A0), color-stop(100%, #50c5d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    background: -ms-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* W3C */
    border-radius: 5px;
    color: #FFF;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13446b', endColorstr='#50c5d8', GradientType=0); /* IE6-9 */
    float: left;
    font-size: 12px;
    height: 13px;
    list-style-type: none;
    margin: 7% 0 10px 2%;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    width: 85%;
}

    .bot_completo2_tienda a {
        color: #FFF;
        display: block;
        font-family: Verdana, Geneva, sans-serif;
    }

.bot_completo2 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13446b), color-stop(50%, #48a5bf), color-stop(51%, #3183A0), color-stop(100%, #50c5d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    background: -ms-linear-gradient(top, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #13446b 0, #48a5bf 50%, #3183A0 51%, #50c5d8 100%); /* W3C */
    border-radius: 5px;
    color: #FFF;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13446b', endColorstr='#50c5d8', GradientType=0); /* IE6-9 */
    float: left;
    font-size: 12px;
    height: 13px;
    list-style-type: none;
    margin: 7% 0 10px 2%;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    width: 85%;
}

    .bot_completo2 a {
        color: #FFF;
        display: block;
        font-family: Verdana, Geneva, sans-serif;
        margin-top: -8px;
    }

.boton_dropdown2 {
    float: right;
    width: 50%;
}

#cont_enlace {
    width: auto;
}

    #cont_enlace a {
        color: #1E85C7;
        text-decoration: none;
    }

        #cont_enlace a li p:hover {
            text-decoration: underline;
        }

    #cont_enlace p {
        float: left;
    }

    #cont_enlace img {
        float: right;
    }

    #cont_enlace li {
        border-bottom: #CCC 1px solid;
        width: 90%;
    }

.lado {
    border-right: #CCC 1px solid;
}

footer #menu_footer {
    float: left;
    width: auto;
}

    footer #menu_footer ul {
        margin: 10px 0 0 0;
        padding: 0;
    }

    footer #menu_footer li {
        float: left;
        list-style-type: none;
        margin: 0;
        width: auto;
    }

        footer #menu_footer li a {
            color: #5CD2ED;
            font-size: 12px;
            margin: 0 10px;
            text-decoration: none;
        }

.peqna {
    font-size: 12px;
    line-height: 18px;
}

.info2 h4 {
    margin: 0 0 10px 0;
    padding: 0;
}

#area_peq {
    background: #F7FAFB;
    border: #EEF1F6 1px solid;
    color: #666;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    margin: 10px 0 20px 0;
    padding: 0 0 10px 0;
    width: 50%;
}

    #area_peq header {
        display: block;
        float: left;
        height: auto;
        margin-bottom: 10px;
        width: 100%;
    }

    #area_peq h2 {
        color: #005B84;
        margin: 5px 10px 10px 10px;
    }

    #area_peq h3 {
        margin: 10px 0 0 15px;
    }

.letra_bl {
    color: #FFF;
}


#sec_bot {
    float: left;
    width: 100%;
}

    #sec_bot .caja_bot {
        display: block;
        float: left;
        height: auto;
        margin: 0 auto;
        width: 31%;
    }

    #sec_bot ul {
        display: block;
        margin: 0 auto 0 auto;
        padding: 0;
    }

.margen {
    margin-left: 40px;
}

.pad {
    margin-left: 25px;
}

#caja {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 32%;
}

#caja_up {
    float: left;
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
}

#caja_down {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    width: 100%;
}

    #caja_down ul {
        margin: 0;
        padding: 0;
    }

    #caja_down a {
        color: #FFF;
        font-size: 12px;
        list-style-type: none;
        padding-top: 5px;
        text-decoration: none;
    }

#area_basica {
    -moz-border-radius: 8px;
    background: -moz-linear-gradient(top, #036089 0, #ccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #036089), color-stop(100%, #ccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #036089 0, #ccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #036089 0, #ccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #036089 0, #ccc 100%); /* IE10+ */
    /* W3C */
    background: linear-gradient(to bottom, #036089 0, #ccc 100%); /* W3C */
    border-bottom: #EEF1F6 1px solid;
    border-radius: 8px;
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#036089', endColorstr='#ccc', GradientType=0); /* IE6-9 */
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

    #area_basica h4 {
        color: #FFF;
        float: left;
        font-size: 14px;
        font-weight: normal;
        margin: 0 0 20px 0;
        padding: 0 0 0 10px;
        width: 75%;
    }

.dialogue {
    background: url(../../Content/images/dialogue.png) no-repeat;
    color: #FFF;
    font-weight: bold;
    height: 29px;
    margin: 10px 0 5px 10px;
    padding: 0 0 0 3px;
}

.bot_claro {
    background: url(../../Content/images/bot_claro.png) no-repeat;
    color: #005179;
    display: block;
    float: left;
    font-family: 'MovistarHeadlineRegular', Arial, Helvetica;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    margin: -10px 0 0 0;
    width: 163px;
}

    .bot_claro p {
        float: left;
        margin: 8px 10px 0 10px;
    }

    .bot_claro span {
        float: left;
        margin: 3px 0 0 0;
    }

img, fieldset, abbr {
    border: medium none;
}

caption, tfoot, .hidden, legend {
    display: none;
}

/*footer*/

a {
    text-decoration: none;
}

.int_footer {
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    width: 23%;
}

.titlefooter_home {
    color: #000;
    font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: .8em;
}

    .titlefooter_home a, .titlefooter_home a:link {
        color: #515559;
    }

ul.lstfooter_home {
    margin: 0 0 15px 0;
    padding: 0;
    width: 100%;
}

    ul.lstfooter_home li {
        border-bottom: dotted 1px #CCC;
        color: #515559;
        font-family: Verdana, Arial, sans-serif;
        font-size: 11px;
        letter-spacing: 0;
        list-style-type: none;
        margin: 0;
        padding: .4em 0;
    }

        ul.lstfooter_home li.last {
            background: none;
        }

        ul.lstfooter_home li a {
            background: url('data:image/gif;base64,R0lGODlhBgAHALMAAP///+/4/N/x+c/q9q/d8H/I52/B5D+t2x+f1Q+Y0gAAAAAAAAAAAAAAAAAAAAAAACH5BAAHAP8ALAAAAAAGAAcAAAQU0KABKiCpWBDOERuCVN13ZZVEVREAOw==') /*../../Content/images/lista_servicios.gif*/ no-repeat 100% 50%;
            color: #515559;
            display: block;
            width: 100%;
        }

            ul.lstfooter_home li a:hover {
                color: #0086C3;
                text-decoration: underline;
            }

.opciones_footerdown {
    background: #00496D;
    background: none repeat scroll 0 0 #00496D;
    clear: both;
    display: inline;
    float: left;
}

.info_footer {
    float: left;
}

    .info_footer ul {
        float: left;
        padding: 10px 0 0 10px;
    }

        .info_footer ul li {
            border-right: 1px solid #6c6d6d;
            color: #5cd2ed;
            float: left;
            font-size: 11px;
            letter-spacing: 0;
            margin-right: .5em;
            padding-right: .5em;
            list-style: none;
        }

            .info_footer ul li.last {
                border: 0;
            }

            .info_footer ul li a {
                color: #5CD2ED;
                text-decoration: none;
            }

                .info_footer ul li a:hover {
                    color: #5CD2ED;
                    text-decoration: underline;
                }

.txt_redes {
    color: #4B4B4B;
    float: right;
    font-family: 'MovistarHeadlineBold', Arial, Helvetica;
    font-size: 14px;
    margin: 6px 5px;
}

.logofooter {
    display: inline;
    float: right;
    margin: 6px 20px 0 0;
}

.logotipos {
    clear: both;
    height: auto !important;
    min-height: 4.5em;
}

    .logotipos ul {
        display: inline;
        float: left;
        margin: 0;
        padding: 0;
    }

        .logotipos ul li {
            float: left;
            list-style-type: none;
            margin-right: 2em;
        }

    .logotipos span {
        color: #CCCCCC;
        display: inline;
        float: right;
        font-size: 1.2em;
        margin-right: 2em;
    }

footer .menu_top {
    clear: both;
    display: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    width: 100%;
}

    footer .menu_top li {
        border-right: #999 1px solid;
        float: left;
        list-style-type: none;
        margin: 0;
    }

        footer .menu_top li a {
            color: #59D2EB;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            margin: 0;
            padding: 0 5px;
            text-decoration: none;
        }

.dropdown2 {
    display: none;
    width: 100%;
}

.dropdownSelector {
    float: left;
    margin-top: 15px;
    width: 45%;
}

.dropdownSelector2 {
    float: left;
    margin-top: 15px;
    width: 100%;
}

#cont_nuevos {
    background-color: #F60;
    float: left;
}

.cont_nuevos {
    display: block;
    float: left;
    width: 55%;
}


.contiene_galeria {
    border: none;
    display: block;
    float: right;
    height: 240px;
    width: 42%;
}

.contiene_legacy {
    border: none;
    display: block;
    float: left;
    height: 240px;
    width: 100%;
}

.info_email .texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.info_email .texto2 {
    color: #1A86C4 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px !important;
    font-weight: bold;
}


@media screen and (max-width: 1080px) {
    #contenedor {
        width: 93%;
    }

    #caja {
        width: 30%;
    }

    #caja_up {
        height: 140px;
    }

    .contiene_galeria {
        width: 100%;
    }

    .contiene_legacy {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .bajar {
        width: 48%;
    }

    .informa_azul {
        width: 60%;
    }

    #ayuda_twit {
        width: 44%;
    }

    .checkbx {
        border: none !important;
        float: left;
        margin: 3px 2px 1px 0;
    }

    .boton_letra {
        margin-left: 0;
    }

    #contenido .tex_blanco p {
        font-size: 11px;
        margin: 5px 0 0 -5px;
    }

    #facebook, #google, #outlook, #twitter {
        width: 47%;
        margin: 1% 1% 1% 0;
    }

    .cuadro_face, .cuadro_twitter, .cuadro_google, .cuadro_outlook {
        width: 33px;
        margin: 0;
    }
}

@media screen and (max-width: 920px) {
    #submenu .submenu_der {
        float: left;
        margin-bottom: 20px;
    }

    .logotipos {
        display: none;
    }

    #footer_home {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #caja {
        border-bottom: 1px #CCC solid;
        border-right: none;
        margin-bottom: 20px;
        width: 95%;
    }

    body {
        background: #005c84;
    }

    .informa_azul {
        width: 90%;
        font-size: 15px;
    }

    .resaltado_otro_momento {
        float: left;
        margin: 0 0 15px 10px;
    }

    .llenar input {
        width: 25%;
    }

    #encabezado {
        float: left;
        padding-bottom: 10px;
        width: 98%;
    }

    .logo {
        height: auto;
        margin-bottom: 10px;
        width: 130px;
    }

    header h1 {
        font-size: 20px;
        margin: 0 50px 0 0;
        padding: 0;
    }

    #area_peq {
        width: 95%;
    }

    .area_1 {
        width: 95%;
        margin-bottom: 0;
    }

    #caja_up {
        height: auto;
    }

    #area_basica {
        width: 95%;
    }

    #facebook, #google, #outlook, #twitter {
        width: 46%;
        margin: 1% 1% 1% 1%;
    }

    #redes h3 {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width:640px) {
    .informa p, .info_peq {
        font-size: 11px;
    }

    #facebook, .cuadro_face, #twitter, .cuadro_twitter, #google, .cuadro_google, #outlook, .cuadro_outlook {
        height: 33px !important;
    }

    #google {
        margin-bottom: 0;
    }

    #facebook, #twitter, #google, #outlook {
        margin-bottom: 1%;
    }

    .cuadro_face {
        background-image: url(/Content/images/login_facebook.png);
    }

    .cuadro_twitter {
        background-image: url(/Content/images/login_twitter.png);
    }

    .cuadro_google {
        background-image: url(/Content/images/login_google.png);
    }

    .cuadro_outlook {
        background-image: url(/Content/images/login_outlook.png);
    }


    #contenido .tex_blanco p {
        color: white;
        padding: 0 5% 0 21%;
        margin: 8px 0 0 0;
        font-size: 12px;
        font-weight: bold;
    }

    .image_login img {
        width: 460px;
    }
}

@media screen and (max-width: 600px) {
    .dropdown2 {
        display: block;
    }

    #submenu .submenu_der li {
        font-size: 10px;
    }

    .submenu_der img {
        display: none;
    }

    .llenar input {
        width: 30%;
    }

    /*MIGA */

    #miga {
        float: left;
        margin: 5px 0 0 0;
        width: 100%;
    }

        #miga ul {
            margin: 0;
            padding: 0;
        }

            #miga ul li {
                float: left;
                list-style-type: none;
                margin: 0;
                padding: 0 0 10px 0;
                width: 32%;
            }

            #miga ul a {
                text-decoration: none;
            }

            #miga ul li h3 {
                color: #005179;
                font-family: 'MovistarHeadlineBold', Arial, Helvetica;
                font-weight: normal;
                margin: 10px 0 10px 0;
                text-align: center;
            }

            #miga ul li p {
                font-size: 12px;
                margin: 0 0 20px 0;
                text-align: center;
            }

    .bg {
        background: url(../../Content/images/linea.png) no-repeat bottom;
    }

    .bg2 {
        background: #EDF2F5 !important;
    }

    .bgoff {
        background: url(../../Content/images/lineaoff.png) no-repeat bottom;
    }

    /*MIGA*/



    #cont_redes_top {
        float: left;
        width: 100%;
    }

        #cont_redes_top h5 {
            text-align: left;
        }

    #area_basica h4 {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .area_1 {
        width: 90%;
    }

    .resaltado_otro_momento img {
        float: left;
        margin: 5px 7px 0 18px;
        width: 20px;
        height: 20px;
    }

    #contenido .tex_blanco p {
        margin: 10px 0 0 0;
    }

    .image_login img {
        width: 280px;
        margin-left: 5px;
        height: auto;
    }

    .cont_nuevos {
        width: 100%;
    }

    .llenar input {
        width: 39%;
    }

    .dropdownSelector {
        margin-bottom: 15px;
        width: 95%;
    }

    .boton_dropdown2 {
        float: right;
        width: 50%;
    }

    #submenu .submenu_der li {
        font-size: 9px;
    }

    #encabezado .menu_top li {
        display: none;
    }

    .contiene_galeria {
        width: 100% !important;
    }

    .contiene_legacy {
        width: 90% !important;
    }

    #encabezado .stays, #encabezado #logoff {
        display: block !important;
    }

    header h1 {
        float: left;
        font-size: 20px;
        margin: 0 30px 0 0;
        padding: 0;
    }

    #encabezado .menu_top li a {
        border-left: none;
        color: #59D2EB;
    }

    .bot_completo2 a {
        margin-top: 0;
    }

    .info_footer {
        display: none;
    }


    #facebook, #twitter, #google, #outlook {
        width: 98%;
        margin-bottom: 2%;
        height: 32px;
    }

    #facebook, .cuadro_face, #twitter, .cuadro_twitter, #google, .cuadro_google, #outlook, .cuadro_outlook {
        height: 38px !important;
    }
}

@media screen and (max-width: 320px) {
    .llenar input {
        width: 60%;
    }
}

.subtitulo {
    color: #005880;
    font-family: 'MovistarTextRegular', Arial, Helvetica !important;
    margin: 0 10px 10px 0;
    font-size: 15px;
    text-align: center;
}

/**********************ESTILOS TABLA FORMULARIO LIGHT***************************/
#area_product_light {
    margin: 20px auto 20px auto;
    width: 85%;
}

    #area_product_light ul {
        display: block;
        float: left;
        margin: 2px 0;
        padding: 10px 0;
        width: 100%;
    }


#titulo_pdcto_light {
    display: block;
    height: auto;
    width: 100%;
}

.bgazul_light img {
        margin: 0 0 -1px 0;
    }

.bgazul_light {
    float: left;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0;
    width: 100%;
    background: #005C84;
}

.bgazul_light h2 {
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 5px 0 5px 0;
        text-align: center;
    }

.column_light h3 {
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 16px;
}

.column_light p {
    margin: 0 0 3px 0;
    padding: 0;
    font-weight: normal;
    font-size: 12px !important;
}

.column_light {
    display: table-cell; /* Defines a table cell */
    padding: 10px 20px;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    width: 50%;
    text-align: center;
}

.table_light {
    display: table; /* Defines a Table */
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    border-bottom: 2px solid #dddddd;
    color: #8d8d8d;
    margin: 0 0 40px 0;
    width: 100%;
}

.table-head_light {
    background: #EEF1F6;
    display: table-header-group; /* Defines a table header group */
    height: 100px;
}

    .table-head_light .column { /* Column inside the table-head */
        color: #7d7d7d;
        border-bottom: none;
    }


.row_light {
    display: table-row; /* Defines a table row */
    height: auto;
}

    .row_light h3 {
        margin: 0;
        padding: 0;
        color: #00587F;
        font-size: 15px;
        font-weight: bold;
    }

    .row_light .column:nth-child(1) { /* First column in a row */
        border-left: 1px solid #eeeeee;
    }

    .row_light:last-child .column { /* column in a last row */
        border-bottom: none;
    }

#AceptaNotificaciones {
    height:27px;
    margin-top:0;
}
