<h1> Statistics </h1>
<%= sales_by_dish %>

<%=line_chart @op, library: {
    title: {text: 'Competitions by year', x: -20},
    yAxis: {
        crosshair: true,
        title: {
            text: 'Competitions count'
        }
    },
    xAxis: {
        crosshair: true,
        title: {
            text: 'Year'
        }
    }
}
%>