<h1> Statistics </h1>
<%= bar_chart @op1 , height: '500px', library: {
    title: {text: 'venta de platos', x: -20},
    yAxis: {
        allowDecimals: false,
        title: {
            text: 'platos'
        }
    },
    xAxis: {
        title: {
            text: 'cantidad'
        }
    }
}%>
<%= bar_chart @op2 , library: {
    title: {text: 'frecuencia clientes', x: -20},
    yAxis: {
        title: {
            text: 'frecuencia'
        }
    },
    xAxis: {
        title: {
            text: 'cliente id'
        }
    }
}%>

<%=line_chart @op4, library: {
    title: {text: 'Ventas', x: -20},
    yAxis: {
        crosshair: true,
        title: {
            text: 'dinero'
        }
    },
    xAxis: {
        crosshair: true,
        title: {
            text: 'periodo'
        }
    }
}
%>

<%= pie_chart @op3,library: {title: {
    text: 'mesa'
}}  %>r