<footer id="footer">
  <div class="container">
    <div class="col-md-3 col-sm-6">
      <h4 >Support</h4>
      <form>
        <div class="input-group">
            <%= link_to new_administrator_session_path do %>
              <button  type="button"><i class="fa fa-universal-access"></i></button>
            <% end %>
            <%= link_to new_chef_session_path do %>
              <button  type="button"><i class="fa fa-tree"></i></button>
            <% end %>
            <%= link_to new_waiter_session_path do %>
              <button  type="button"><i class="fa fa-user-circle-o"></i></button>
            <% end %>
        </div>
        <!-- /input-group -->
      </form>

      <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

      

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

    
    </div>
    <!-- /.col-md-3 -->


    <div class="col-md-3 col-sm-6">

     

    </div>
    <!-- /.col-md-3 -->
  </div>
  <!-- /.container -->
</footer>
