<% if client_signed_in? %>

<% elsif chef_signed_in? %>

<% elsif waiter_signed_in? %>

<% elsif administrator_signed_in? %>

<% else %>

<% end %>




<div >
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="https://image.freepik.com/free-vector/background-with-squares-in-warm-tones_1013-16.jpg">
            https://image.freepik.com/free-vector/background-with-squares-in-warm-tones_1013-16.jpg
            <!-- "https://alistapart.com/d/user-interfaces-for-variable-fonts-part-1/bg-context.jpg"-->
        </div>
        <div class="useravatar">
             <%= image_tag current_administrator.photo.url(:medium) %>
        </div>
        <!--<div class="card-info"> <span class="card-title">Name</span></div> -->

        
    </div>
</div>
            
    