<div class="aboutUs">
<p class="text-center">
    <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Client </button>
</p>
<p class="text-center">
    <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Chef </button>
</p>
<p class="text-center">
    <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Waiter</button>
</p>
<p class="text-center">
    <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Administrator</button>
</p>
</div>