<div class="titulo"> 
	<h1 align="center">Acerca de</h1>
</div>
<div class="aboutUs">
	<h3 align="center" class="subtitles"> DinnerQR </h3>
	<p align="justify">This website was born as a project for the Software Engineering II course during the 2017-II semester. You want to create a web application which allows you to place orders on the restaurant table without the need of a waiter in which the user to use the application scan a QR code as an identification of the table in which it is located, in order to order the client you have to have a registered account, besides that will also display the promotions and a section of suggestions of the day.</p>
</div>

<div class="contactUs text-center">
	<h3 class="subtitles"> Contact Us </h3>
	<p> Here you can write any question, suggestion or complain. We'll contact you as soon as possible. </p>
	
	<form>
	  <div class="form-group">
	    <label for="name">Name:</label>
	    <input type="text" class="form-control" id="name">
	  </div>
	  <div class="form-group">
	    <label for="lastname">Last name:</label>
	    <input type="text" class="form-control" id="lastname">
	  </div>
	  <div class="form-group">
	    <label for="mail">Email:</label>
	    <input type="email" class="form-control" id="mail">
	  </div>
	  <div class="form-group">
	    <label for="message">Message:</label>
	    <textarea class="form-control" rows="5" id="message"></textarea>
	  </div>
	  <button type="submit" class="btn btn-lg btn-template-primary">Submit</button>
	</form>
</div>