
<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Arregl</title>
=======
    <title>pixels</title>
>>>>>>> 41c0ef5d610deaf307b324b3eef826fe04faa664
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
