<p>Hello !</p>
<div class="panel panel-default">
      <div class="panel-heading"><p> Hi Dear Customer</p></div>
      <div class="panel-body">Thanks for make use of our services, we are awiting for you, and not forget use the ยบ 1 order webpage <a href="url">http://localhost:3000/clients/sign_in</a> </div>
    </div>